<div class="welcome-container">
  <div class="content-wrapper">
    <h1 class="welcome-title">
      Welcome to<br />
      {{appName}}!
    </h1>

    <div class="welcome-text">
      Welcome to {{appName}}, in the next few screens you will be prompted to make decisions for your pseudo portfolio.
      This is a completely false scenario and not tied to your personal finances.
      <br /><br />
      You will be provided 5 scenarios asking you to make a decision regarding your portfolio.
      <br /><br />
      If you would like to hold your money, please enter $0 in the input field. There are no right or wrong decisions.
      <br /><br />
      Check out our demo to get started!
    </div>

    <div class="button-container">
      <button mat-flat-button class="start-demo-button" (click)="startDemo()">
        Start Demo
      </button>
    </div>
  </div>
</div>